<header>
  <div
    id="header-sticky"
    [ngClass]="
      headerSticky
        ? 'header__area header__transparent header__padding sticky'
        : 'header__area header__transparent header__padding'
    "
    [class.header__white]="header__white"
  >
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-2 col-sm-4 col-6">
          <div class="header__left d-flex">
            <div class="logo">
              <a [routerLink]="['/']">
                <img
                  *ngIf="header__white && !headerSticky; else elseImg"
                  src="assets/img/logo/logo.svg"
                  alt="logo"
                />
                <ng-template #elseImg>
                  <img src="assets/img/logo/logo.svg" alt="logo" />
                </ng-template>
              </a>
            </div>
            <div class="header__category d-none d-lg-block">
              <nav>
                <ul>
                  <li>
                    <a
                      [routerLink]="['/courses']"
                      class="cat-menu d-flex align-items-center"
                    >
                      <div class="cat-dot-icon d-inline-block">
                        <svg viewBox="0 0 276.2 276.2">
                          <g>
                            <g>
                              <path
                                class="cat-dot"
                                d="M33.1,2.5C15.3,2.5,0.9,17,0.9,34.8s14.5,32.3,32.3,32.3s32.3-14.5,32.3-32.3S51,2.5,33.1,2.5z"
                              />
                              <path
                                class="cat-dot"
                                d="M137.7,2.5c-17.8,0-32.3,14.5-32.3,32.3s14.5,32.3,32.3,32.3c17.8,0,32.3-14.5,32.3-32.3S155.5,2.5,137.7,2.5    z"
                              />
                              <path
                                class="cat-dot"
                                d="M243.9,67.1c17.8,0,32.3-14.5,32.3-32.3S261.7,2.5,243.9,2.5S211.6,17,211.6,34.8S226.1,67.1,243.9,67.1z"
                              />
                              <path
                                class="cat-dot"
                                d="M32.3,170.5c17.8,0,32.3-14.5,32.3-32.3c0-17.8-14.5-32.3-32.3-32.3S0,120.4,0,138.2S14.5,170.5,32.3,170.5z"
                              />
                              <path
                                class="cat-dot"
                                d="M136.8,170.5c17.8,0,32.3-14.5,32.3-32.3c0-17.8-14.5-32.3-32.3-32.3c-17.8,0-32.3,14.5-32.3,32.3    C104.5,156.1,119,170.5,136.8,170.5z"
                              />
                              <path
                                class="cat-dot"
                                d="M243,170.5c17.8,0,32.3-14.5,32.3-32.3c0-17.8-14.5-32.3-32.3-32.3s-32.3,14.5-32.3,32.3    C210.7,156.1,225.2,170.5,243,170.5z"
                              />
                              <path
                                class="cat-dot"
                                d="M33,209.1c-17.8,0-32.3,14.5-32.3,32.3c0,17.8,14.5,32.3,32.3,32.3s32.3-14.5,32.3-32.3S50.8,209.1,33,209.1z    "
                              />
                              <path
                                class="cat-dot"
                                d="M137.6,209.1c-17.8,0-32.3,14.5-32.3,32.3c0,17.8,14.5,32.3,32.3,32.3c17.8,0,32.3-14.5,32.3-32.3    S155.4,209.1,137.6,209.1z"
                              />
                              <path
                                class="cat-dot"
                                d="M243.8,209.1c-17.8,0-32.3,14.5-32.3,32.3c0,17.8,14.5,32.3,32.3,32.3c17.8,0,32.3-14.5,32.3-32.3    S261.6,209.1,243.8,209.1z"
                              />
                            </g>
                          </g>
                        </svg>
                      </div>
                      <span>{{ "category" | translate }}</span>
                    </a>
                    <ul class="cat-submenu">
                      <ng-container *ngFor="let category of coursesService.categories">
                        <li>
                          <a [routerLink]="['/courses']" [queryParams]="{category: category['id']}">{{category['name'][translate.currentLang]}}</a>
                        </li>
                      </ng-container>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-10 col-sm-8 col-6">
          <div
            class="header__right d-flex justify-content-end align-items-center"
          >
            <div class="main-menu" [class.main-menu-3]="header__white">
              <nav id="mobile-menu" class="d-none d-xl-block">
                <ul>
                  <li>
                    <select
                      [ngModel]="selectedLanguage"
                      (ngModelChange)="onLanguageChange($event)"
                    >
                      <option value="kz">Kz</option>
                      <option value="ru">Ru</option>
                      <option value="en">En</option>
                    </select>
                  </li>
                  <li>
                    <a [routerLink]="['/']">
                      {{ "home" | translate }}
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/blog']">
                      {{ "blog" | translate }}
                    </a>
                  </li>
                  <li class="has-dropdown">
                    <a [routerLink]="['/courses']">
                      {{ "explorer" | translate }}</a
                    >
                    <ul class="submenu">
                      <li>
                        <a [routerLink]="['/about']">{{
                          "about" | translate
                        }}</a>
                      </li>
                      <li>
                        <a [routerLink]="['/instructor']">{{
                          "instructor" | translate
                        }}</a>
                      </li>
                      <li>
                        <a [routerLink]="['/checkout']">{{
                          "checkout" | translate
                        }}</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a [routerLink]="['/contact']">{{
                      "contact" | translate
                    }}</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="header__search p-relative ml-50 d-none d-md-block">
              <form action="#">
                <input type="text" placeholder="Search..." />
                <button type="submit"><i class="fad fa-search"></i></button>
              </form>
            </div>
            <div class="header__btn ml-20 d-none d-sm-block">
              <a [routerLink]="['/sign-in']" class="e-btn">{{
                "try-it-free" | translate
              }}</a>
            </div>
            <div class="sidebar__menu d-xl-none">
              <div
                (click)="handleSidebar()"
                class="sidebar-toggle-btn ml-30"
                id="sidebar-toggle"
              >
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- sidebar area start -->
<div class="sidebar__area" [class.sidebar-opened]="showSidebar">
  <div class="sidebar__wrapper">
    <div (click)="handleSidebarClose()" class="sidebar__close">
      <button class="sidebar__close-btn" id="sidebar__close-btn">
        <span><i class="fal fa-times"></i></span>
        <span>close</span>
      </button>
    </div>
    <div class="sidebar__content">
      <div class="logo mb-25">
        <a [routerLink]="['/']">
          <img src="../../assets/img/logo/logo.svg" alt="logo" />
        </a>
      </div>

      <div class="side-info-content sidebar-menu mm-menu">
        <ul>
          <select
            [ngModel]="selectedLanguage"
            (ngModelChange)="onLanguageChange($event)"
          >
            <option value="kz">Kz</option>
            <option value="ru">Ru</option>
            <option value="en">En</option>
          </select>
          <li class="menu-item-has-children">
            <a href="/home">{{ "home" | translate }}</a>
          </li>

          <li class="menu-item-has-children">
            <a href="/courses">{{ "explorer" | translate }}</a>
          </li>

          <li class="menu-item-has-children">
            <ul class="sub-menu">
              <li>
                <a [routerLink]="['/blog']">{{ "blog" | translate }}</a>
              </li>
            </ul>
          </li>

          <li
            class="menu-item-has-children has-droupdown"
            [class.active]="showPagesDropdown"
          >
            <a (click)="pagesDropDown()">{{ "explorer" | translate }}</a>
            <ul class="sub-menu" [class.active]="showPagesDropdown">
              <li>
                <a [routerLink]="['/about']">{{ "blog" | translate }}</a>
              </li>
              <li>
                <a [routerLink]="['/instructor']">{{
                  "instructor" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/checkout']">{{ "Checkout" | translate }}</a>
              </li>
            </ul>
          </li>

          <li>
            <a [routerLink]="['/contact']" class="border-0">{{
              "contact" | translate
            }}</a>
          </li>
        </ul>
      </div>

      <div class="sidebar__search p-relative mt-40">
        <form action="#">
          <input type="text" placeholder="Search..." />
          <button type="submit"><i class="fad fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  (click)="handleSidebarClose()"
  class="body-overlay"
  [class.opened]="showSidebar"
></div>
<!-- sidebar area end -->
