label {
  display: block;
  margin-bottom: 10px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
a {
  color: #000000;
  font-size: 20px;
  line-height: 60px;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
}

a:hover {
  color: blue;
}

svg {
  border-radius: 10px;
  border: 1px solid red;
  color: #000000;
  padding: 15px;
}

.edit {
  border-radius: 10px;
  border: 1px solid #2b4eff;
  color: #000000;
  padding: 15px;
}
