<section class="about__area pt-90 pb-150">
  <div class="container">
    <div class="row">
      <div class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-6">
        <div class="about__thumb-wrapper">
          <div class="about__thumb ml-100">
            <img src="assets/img/about/about.jpg" alt="" />
          </div>
          <div class="about__banner mt--210">
            <img src="assets/img/about/about-banner.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6">
        <div class="about__content pl-70 pr-60 pt-25">
          <div class="section__title-wrapper mb-25">
            <h2 class="section__title">
              {{ "achive" | translate }}
            </h2>
            <p>
              {{ "our-nice" | translate }}
            </p>
          </div>
          <div class="about__list mb-35">
            <ul>
              <li class="d-flex align-items-center">
                <i class="icon_check"></i> {{ "upskill" | translate }}
              </li>
              <li class="d-flex align-items-center">
                <i class="icon_check"></i> {{ "morethan" | translate }}
              </li>
              <li class="d-flex align-items-center">
                <i class="icon_check"></i> {{ "latestskill" | translate }}
              </li>
            </ul>
          </div>
          <a [routerLink]="['/contact']" class="e-btn e-btn-border">{{
            "read" | translate
          }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
