<section class="course__area pt-115 pb-120 grey-bg">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-xxl-5 col-xl-6 col-lg-6">
        <div class="section__title-wrapper mb-60">
          <h2 class="section__title">
            {{ "pick" | translate }}
          </h2>
          <p>{{ "assistance" | translate }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <mat-tab-group [@.disabled]="true" class="course__menu">
        <mat-tab>

          <div class="course_wrapper">
            <div class="row">
              <div
                *ngFor="let course of courses"
                class="col-xxl-4 col-xl-4 col-lg-4 col-md-6"
              >
                <div class="course__item white-bg mb-30 fix shadow-none">
                  <div class="course__thumb w-img p-relative fix">
                    <a [routerLink]="['/course-details/' + course.id]">
                      <img src="{{ course.image_url }}" alt="" />
                    </a>
                    <div class="course__tag">
                      <a
                        *ngIf="course.category.name"
                        href="#"
                        [class]="course.color"
                        [style.backgroundColor]="course.category.color"
                        >{{ course.category.name[translate.currentLang] }}</a
                      >
                    </div>
                  </div>
                  <div class="course__content">
                    <h3 class="course__title">
                      <a [routerLink]="['/course-details/' + course.id]">
                        {{ course.name }}</a
                      >
                    </h3>
                    <p>{{ course.description.substring(0, 100) }}...</p>
                  </div>
                  <div
                    class="course__more d-flex justify-content-between align-items-center"
                  >
                    <div class="course__btn">
                      <a
                        [routerLink]="['/course-details/' + course.id]"
                        class="link-btn"
                        (click)="selectCourse(course)"
                      >
                        <span *ngIf="course?.isBought; else notBuy">
                          Уже куплено
                        </span>
                        <ng-template #notBuy> Read more </ng-template>
                        <i class="far fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>