<section
  class="hero__area hero__height d-flex align-items-center grey-bg-2 p-relative"
>
  <div class="container">
    <div class="hero__content-wrapper mt-90">
      <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
          <div class="hero__content p-relative z-index-1">
            <h3 class="hero__title">
              <span>{{ "easy" | translate }}</span>
              <span class="yellow-shape">
                <img src="assets/img/shape/yellow-bg.png" alt="yellow-shape" />
              </span>
              {{ "easy2" | translate }}
            </h3>
            <p>
              {{ "learn" | translate }}
            </p>
            <a [routerLink]="['/courses']" class="e-btn">{{
              "view" | translate
            }}</a>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
          <div class="hero__thumb d-flex p-relative">
            <div class="hero__thumb-big mr-30">
              <img src="assets/img/hero/hero-5.jpg" alt="" />
              <div class="hero__quote hero__quote-animation">
                <span>{{ "abay" | translate }}</span>
                <h4>
                  {{ "if" | translate }}
                </h4>
              </div>
            </div>
            <div class="hero__thumb-sm mt-50 d-none d-lg-block">
              <img src="assets/img/hero/hero-sm-1.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
 
  </div>
</section>
