<section class="page__title-area pt-120 pb-90" *ngIf="true">
  <div class="page__title-shape">
    <img
      class="page-title-shape-5 d-none d-sm-block"
      src="assets/img/page-title/page-title-shape-1.png"
      alt=""
    />
    <img
      class="page-title-shape-6"
      src="assets/img/page-title/page-title-shape-6.png"
      alt=""
    />
    <img
      class="page-title-shape-7"
      src="assets/img/page-title/page-title-shape-4.png"
      alt=""
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xxl-8 col-xl-8 col-lg-8">
        <div class="course__wrapper">
          <div class="page__title-content mb-25">
            <div class="page__title-breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a [routerLink]="['/']">{{ "home" | translate }}</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a [routerLink]="['/courses']">{{
                      "courses" | translate
                    }}</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    {{ selectedCourse.name }}
                  </li>
                </ol>
              </nav>
            </div>
            <span class="page__title-pre" [style.backgroundColor]="selectedCourse.category.color">{{selectedCourse.category.name[translate.currentLang]}}</span>
            <h5 class="page__title-3">
              {{ selectedCourse.name }}
            </h5>
          </div>
          <div class="course__meta-2 d-sm-flex mb-30">
            <div
              class="course__teacher-3 d-flex align-items-center mr-70 mb-30"
            >
              <div *ngIf="selectedCourse.teachers" class="course__instructor mb-45">
                <ng-container *ngFor="let teacher of selectedCourse.teachers">
                  <div class="course__instructor-wrapper d-md-flex align-items-center">
                    <div class="course__instructor-item d-flex align-items-center mr-70">
                      <div class="course__instructor-thumb mr-20">
                        <img [src]="teacher.avatar" alt="" />
                      </div>
                      <div class="course__instructor-content">
                        <h3>{{ teacher.name }}</h3>
                        <p>{{ teacher.role }}</p>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="course__img w-img mb-30">
            <img [src]="selectedCourse.image_url" alt="" />
          </div>
          <div class="course__tab-2 mb-45">
            <ul class="nav nav-tabs" id="courseTab" role="tablist" *ngIf="true">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="description-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#description"
                  type="button"
                  role="tab"
                  aria-controls="description"
                  aria-selected="true"
                >
                  <i class="icon_ribbon_alt"></i>
                  <span>
                    {{ selectedCourse.description }}
                  </span>
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="curriculum-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#curriculum"
                  type="button"
                  role="tab"
                  aria-controls="curriculum"
                  aria-selected="false"
                >
                  <i class="icon_book_alt"></i> <span>Curriculum</span>
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="review-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#review"
                  type="button"
                  role="tab"
                  aria-controls="review"
                  aria-selected="false"
                >
                  <i class="icon_star_alt"></i> <span>Reviews</span>
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="member-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#member"
                  type="button"
                  role="tab"
                  aria-controls="member"
                  aria-selected="false"
                >
                  <i class="fal fa-user"></i> <span>Members</span>
                </button>
              </li>
            </ul>
          </div>
          <div class="course__tab-content mb-95">
            <div class="tab-content" id="courseTabContent">
              <div
                class="tab-pane fade show active"
                id="description"
                role="tabpanel"
                aria-labelledby="description-tab"
              >
                <div class="course__description">
                  <h3>{{ "course" | translate }}</h3>
                  <p>
                    {{ selectedCourse.description }}
                  </p>

                  <div class="course__tag-2 mb-35 mt-35" *ngIf="true">
                    <i class="fal fa-tag"></i>
                    <a href="#">Big data,</a>
                    <a href="#">Data analysis,</a>
                    <a href="#">Data modeling</a>
                  </div>
                  <div class="course__description-list mb-45" *ngIf="true">
                    <h4>What is the Target Audience?</h4>
                    <ul>
                      <li>
                        <i class="icon_check"></i> Business's managers, leaders
                      </li>
                      <li>
                        <i class="icon_check"></i> Downloadable lectures, code
                        and design assets for all projects
                      </li>
                      <li>
                        <i class="icon_check"></i> Anyone who is finding a
                        chance to get the promotion
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div
                class="tab-pane fade"
                id="curriculum"
                role="tabpanel"
                aria-labelledby="curriculum-tab"
              >
                <!-- generate template by iteration in above -->
                <ng-container *ngFor="let lesson of selectedCourse.video_lessons; let lessonIndex = index">
                  <div class="course__curriculum">
                    <div class="accordion" id="course__accordion">
                      <div class="accordion-item mb-50">
                        <h2 class="accordion-header" id="week-01">
                          <button class="accordion-button" type="button"
                            data-bs-toggle="modal"
                            [attr.data-bs-target]="'#staticBackdrop-'+lessonIndex"
                          >
                            {{lesson.name}}
                          </button>
                        </h2>
                        <div class="course-video-popup">
                          <div class="modal fade" [id]="'staticBackdrop-'+lessonIndex" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" [innerHTML]="lesson.iframe | safeHtml"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>

              </div>

              <div
                class="tab-pane fade"
                id="review"
                role="tabpanel"
                aria-labelledby="review-tab"
              >
                <div class="course__review">
                  <h3>Reviews</h3>
                  <p>
                    Gosh william I'm telling crikey burke I don't want no agro A
                    bit of how's your father bugger all mate off his nut that,
                    what a plonker cuppa owt to do
                  </p>

                  <div class="course__review-rating mb-50">
                    <div class="row g-0">
                      <div
                        class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4"
                      >
                        <div
                          class="course__review-rating-info grey-bg text-center"
                        >
                          <h5>5</h5>
                          <ul>
                            <li>
                              <a href="#"> <i class="icon_star"></i> </a>
                            </li>
                            <li>
                              <a href="#"> <i class="icon_star"></i> </a>
                            </li>
                            <li>
                              <a href="#"> <i class="icon_star"></i> </a>
                            </li>
                            <li>
                              <a href="#"> <i class="icon_star"></i> </a>
                            </li>
                            <li>
                              <a href="#"> <i class="icon_star"></i> </a>
                            </li>
                          </ul>
                          <p>4 Ratings</p>
                        </div>
                      </div>
                      <div
                        class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8"
                      >
                        <div class="course__review-details grey-bg">
                          <h5>Detailed Rating</h5>
                          <div class="course__review-content mb-20">
                            <div
                              class="course__review-item d-flex align-items-center justify-content-between"
                            >
                              <div class="course__review-text">
                                <span>5 stars</span>
                              </div>
                              <div class="course__review-progress">
                                <div
                                  class="single-progress"
                                  data-width="100%"
                                ></div>
                              </div>
                              <div class="course__review-percent">
                                <h5>100%</h5>
                              </div>
                            </div>
                            <div
                              class="course__review-item d-flex align-items-center justify-content-between"
                            >
                              <div class="course__review-text">
                                <span>4 stars</span>
                              </div>
                              <div class="course__review-progress">
                                <div
                                  class="single-progress"
                                  data-width="30%"
                                ></div>
                              </div>
                              <div class="course__review-percent">
                                <h5>30%</h5>
                              </div>
                            </div>
                            <div
                              class="course__review-item d-flex align-items-center justify-content-between"
                            >
                              <div class="course__review-text">
                                <span>3 stars</span>
                              </div>
                              <div class="course__review-progress">
                                <div
                                  class="single-progress"
                                  data-width="0%"
                                ></div>
                              </div>
                              <div class="course__review-percent">
                                <h5>0%</h5>
                              </div>
                            </div>
                            <div
                              class="course__review-item d-flex align-items-center justify-content-between"
                            >
                              <div class="course__review-text">
                                <span>2 stars</span>
                              </div>
                              <div class="course__review-progress">
                                <div
                                  class="single-progress"
                                  data-width="0%"
                                ></div>
                              </div>
                              <div class="course__review-percent">
                                <h5>0%</h5>
                              </div>
                            </div>
                            <div
                              class="course__review-item d-flex align-items-center justify-content-between"
                            >
                              <div class="course__review-text">
                                <span>1 stars</span>
                              </div>
                              <div class="course__review-progress">
                                <div
                                  class="single-progress"
                                  data-width="0%"
                                ></div>
                              </div>
                              <div class="course__review-percent">
                                <h5>0%</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="course__comment mb-75">
                    <h3>2 Comments</h3>

                    <ul>
                      <li>
                        <div class="course__comment-box">
                          <div class="course__comment-thumb float-start">
                            <img
                              src="assets/img/course/comment/course-comment-1.jpg"
                              alt=""
                            />
                          </div>
                          <div class="course__comment-content">
                            <div class="course__comment-wrapper ml-70 fix">
                              <div class="course__comment-info float-start">
                                <h4>Eleanor Fant</h4>
                                <span>July 14, 2022</span>
                              </div>
                              <div
                                class="course__comment-rating float-start float-sm-end"
                              >
                                <ul>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="course__comment-text ml-70">
                              <p>
                                So I said lurgy dropped a clanger Jeffrey bugger
                                cuppa gosh David blatant have it, standard A bit
                                of how's your father my lady absolutely.
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="course__comment-box">
                          <div class="course__comment-thumb float-start">
                            <img
                              src="assets/img/course/comment/course-comment-2.jpg"
                              alt=""
                            />
                          </div>
                          <div class="course__comment-content">
                            <div class="course__comment-wrapper ml-70 fix">
                              <div class="course__comment-info float-start">
                                <h4>Shahnewaz Sakil</h4>
                                <span>July 17, 2022</span>
                              </div>
                              <div
                                class="course__comment-rating float-start float-sm-end"
                              >
                                <ul>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                  <li>
                                    <a href="#" class="no-rating">
                                      <i class="icon_star"></i>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="course__comment-text ml-70">
                              <p>
                                David blatant have it, standard A bit of how's
                                your father my lady absolutely.
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="course__form">
                    <h3>Write a Review</h3>
                    <div class="course__form-inner">
                      <form action="#">
                        <div class="row">
                          <div class="col-xxl-6">
                            <div class="course__form-input">
                              <input type="text" placeholder="Your Name" />
                            </div>
                          </div>
                          <div class="col-xxl-6">
                            <div class="course__form-input">
                              <input type="email" placeholder="Your Email" />
                            </div>
                          </div>
                          <div class="col-xxl-12">
                            <div class="course__form-input">
                              <input type="text" placeholder="Review Title" />
                            </div>
                          </div>
                          <div class="col-xxl-12">
                            <div class="course__form-input">
                              <div class="course__form-rating">
                                <span>Rating : </span>
                                <ul>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                  <li>
                                    <a href="#"> <i class="icon_star"></i> </a>
                                  </li>
                                  <li>
                                    <a href="#" class="no-rating">
                                      <i class="icon_star"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#" class="no-rating">
                                      <i class="icon_star"></i>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <textarea placeholder="Review Summary"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xxl-12">
                            <div class="course__form-btn mt-10 mb-55">
                              <button type="submit" class="e-btn">
                                Submit Review
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="tab-pane fade"
                id="member"
                role="tabpanel"
                aria-labelledby="member-tab"
              >
                <div class="course__member mb-45">
                  <div class="course__member-item">
                    <div class="row align-items-center">
                      <div
                        class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-6"
                      >
                        <div
                          class="course__member-thumb d-flex align-items-center"
                        >
                          <img
                            src="assets/img/course/instructor/course-instructor-1.jpg"
                            alt=""
                          />
                          <div class="course__member-name ml-20">
                            <h5>Shahnewaz Sakil</h5>
                            <span>Engineer</span>
                          </div>
                        </div>
                      </div>
                      <div
                        class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
                      >
                        <div class="course__member-info pl-45">
                          <h5>07</h5>
                          <span>{{ "courses" | translate }}</span>
                        </div>
                      </div>
                      <div
                        class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
                      >
                        <div class="course__member-info pl-70">
                          <h5>05</h5>
                          <span>Reviw</span>
                        </div>
                      </div>
                      <div
                        class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
                      >
                        <div class="course__member-info pl-85">
                          <h5>3.00</h5>
                          <span>Rating</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="course__member-item">
                    <div class="row align-items-center">
                      <div
                        class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-6"
                      >
                        <div
                          class="course__member-thumb d-flex align-items-center"
                        >
                          <img
                            src="assets/img/course/instructor/course-instructor-2.jpg"
                            alt=""
                          />
                          <div class="course__member-name ml-20">
                            <h5>Lauren Stamps</h5>
                            <span>{{ "teacher" | translate }}</span>
                          </div>
                        </div>
                      </div>
                      <div
                        class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
                      >
                        <div class="course__member-info pl-45">
                          <h5>05</h5>
                          <span>Courses</span>
                        </div>
                      </div>
                      <div
                        class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
                      >
                        <div class="course__member-info pl-70">
                          <h5>03</h5>
                          <span>Reveiw</span>
                        </div>
                      </div>
                      <div
                        class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
                      >
                        <div class="course__member-info pl-85">
                          <h5>3.00</h5>
                          <span>Rating</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="course__member-item">
                    <div class="row align-items-center">
                      <div
                        class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-6"
                      >
                        <div
                          class="course__member-thumb d-flex align-items-center"
                        >
                          <img
                            src="assets/img/course/instructor/course-instructor-3.jpg"
                            alt=""
                          />
                          <div class="course__member-name ml-20">
                            <h5>Jonquil Von</h5>
                            <span>Associate</span>
                          </div>
                        </div>
                      </div>
                      <div
                        class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
                      >
                        <div class="course__member-info pl-45">
                          <h5>09</h5>
                          <span>{{ "courses" | translate }}</span>
                        </div>
                      </div>
                      <div
                        class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
                      >
                        <div class="course__member-info pl-70">
                          <h5>07</h5>
                          <span>Reveiw</span>
                        </div>
                      </div>
                      <div
                        class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4"
                      >
                        <div class="course__member-info pl-85">
                          <h5>4.00</h5>
                          <span>Rating</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="course__related" *ngIf="true">
            <div class="row">
              <div class="col-xxl-12">
                <div class="section__title-wrapper mb-40">
                  <h2 class="section__title">
                    Related
                    <span class="yellow-bg yellow-bg-big"
                      >{{ "course" | translate }}e<img
                        src="assets/img/shape/yellow-bg.png"
                        alt=""
                    /></span>
                  </h2>
                  <p>
                    You don't have to struggle alone, you've got our assistance
                    and help.
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xxl-12">
                <div class="course__slider swiper-container pb-60">
                  <div class="swiper-wrapper">
                    <swiper
                      class="pb-60"
                      [slidesPerView]="1"
                      [spaceBetween]="30"
                      [loop]="true"
                      [autoplay]="{
                        delay: 2500,
                        disableOnInteraction: false
                      }"
                      [pagination]="{
                        clickable: true,
                        el: '.swiper-pagination'
                      }"
                      [breakpoints]="{
                        '280': {
                          slidesPerView: 1,
                          spaceBetween: 30
                        },
                        '768': {
                          slidesPerView: 2,
                          spaceBetween: 30
                        },
                        '1200': {
                          slidesPerView: 2,
                          spaceBetween: 30
                        }
                      }"
                    >
                      <ng-template
                        *ngFor="let course of courseData"
                        swiperSlide
                      >
                        <div
                          class="course__item course__item-3 swiper-slide white-bg mb-30 fix"
                        >
                          <div class="course__thumb w-img p-relative fix">
                            <a [routerLink]="['/course-details']">
                              <img src="{{ course.courseImage }}" alt="" />
                            </a>
                            <div class="course__tag">
                              <a href="#" [class]="selectedCourse.category.color">{{
                                selectedCourse.category.name[translate.currentLang]
                              }}</a>
                            </div>
                          </div>
                          <div class="course__content">
                            <div
                              class="course__meta d-flex align-items-center justify-content-between"
                            >
                              <div class="course__lesson">
                                <span
                                  ><i class="far fa-book-alt"></i
                                  >{{ course.lesson }} Lesson</span
                                >
                              </div>
                              <div class="course__rating">
                                <span
                                  ><i class="icon_star"></i
                                  >{{ course.rating }} (44)</span
                                >
                              </div>
                            </div>
                            <h3 class="course__title">
                              <a [routerLink]="['/course-details']">{{
                                course.title
                              }}</a>
                            </h3>
                            <div
                              class="course__teacher d-flex align-items-center"
                            >
                              <div class="course__teacher-thumb mr-15">
                                <img src="{{ course.teacherImg }}" alt="" />
                              </div>
                              <h6>
                                <a [routerLink]="['/course-details']">
                                  {{ course.teacherName }}</a
                                >
                              </h6>
                            </div>
                          </div>
                          <div
                            class="course__more d-flex justify-content-between align-items-center"
                          >
                            <div
                              class="course__status d-flex align-items-center"
                            >
                              <span [class]="course.color"
                                >₸{{ course.price }}</span
                              >
                              <span class="old-price"
                                >₸{{ course.oldPrice }}</span
                              >
                            </div>
                            <div class="course__btn">
                              <a
                                [routerLink]="['/course-details']"
                                class="link-btn"
                              >
                                Know Details
                                <i class="far fa-arrow-right"></i>
                                <i class="far fa-arrow-right"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </swiper>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-4 col-xl-4 col-lg-4">
        <div class="course__sidebar pl-70 p-relative">
          <div class="course__shape">
            <img
              class="course-dot"
              src="assets/img/course/course-dot.png"
              alt=""
            />
          </div>
          <div
            class="course__sidebar-widget-2 white-bg mb-20"
            *ngIf="!selectedCourse.isBought"
          >
            <div class="course__video">
              <div class="course__video-thumb w-img mb-25">
                <img src="assets/img/course/video/course-video.jpg" alt="" />
                <div
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                  class="course__video-play"
                >
                  <button
                    href="https://youtu.be/yJg-Y5byMMw"
                    data-fancybox=""
                    class="play-btn"
                  >
                    <i class="fas fa-play"></i>
                  </button>
                </div>
              </div>
              <div
                class="course__video-meta mb-25 d-flex align-items-center justify-content-between"
              >
                <div class="course__video-price">
                  <h5>
                    <span>{{ selectedCourse.price + "₸" }}</span>
                  </h5>
                </div>
              </div>
              <div class="course__video-content mb-35">
                <ul>
                  <li class="d-flex align-items-center">
                    <div class="course__video-icon">
                      <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 16 16"
                        style="enable-background: new 0 0 16 16"
                        xml:space="preserve"
                      >
                        <path
                          class="st0"
                          d="M2,6l6-4.7L14,6v7.3c0,0.7-0.6,1.3-1.3,1.3H3.3c-0.7,0-1.3-0.6-1.3-1.3V6z"
                        />
                        <polyline
                          class="st0"
                          points="6,14.7 6,8 10,8 10,14.7 "
                        />
                      </svg>
                    </div>
                    <div class="course__video-info">
                      <h5>
                        <span>{{ "instructor" | translate }} :</span> Eleanor
                        Fant
                      </h5>
                    </div>
                  </li>
                  <li class="d-flex align-items-center">
                    <div class="course__video-icon">
                      <svg>
                        <circle class="st0" cx="8" cy="8" r="6.7" />
                        <line class="st0" x1="1.3" y1="8" x2="14.7" y2="8" />
                        <path
                          class="st0"
                          d="M8,1.3c1.7,1.8,2.6,4.2,2.7,6.7c-0.1,2.5-1,4.8-2.7,6.7C6.3,12.8,5.4,10.5,5.3,8C5.4,5.5,6.3,3.2,8,1.3z"
                        />
                      </svg>
                    </div>
                    <div class="course__video-info">
                      <h5><span>Language :</span>English</h5>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="course__payment mb-35">
                <h3>Payment:</h3>
                <a href="#">
                  <img src="assets/img/course/payment/payment-1.png" alt="" />
                </a>
              </div>
              <div class="course__enroll-btn">
                <a (click)="enroll()" class="e-btn e-btn-7 w-100"
                  >Enroll <i class="far fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <!-- related-course  -->
        <app-related-course white_bg="course__sidebar-widget-2 white-bg mb-20">
        </app-related-course>
      </div>
    </div>
  </div>

  <div class="course-video-popup">
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div
            class="modal-body"
            [innerHTML]="selectedCourse.iframe | safeHtml"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
