<section class="contact__area pt-115 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-xxl-7 col-xl-7 col-lg-6">
        <div class="contact__wrapper">
          <div class="section__title-wrapper mb-40">
            <h2 class="section__title">
              <span class="yellow-bg yellow-bg-big"
                >{{ "intouch" | translate
                }}<img src="assets/img/shape/yellow-bg.png" alt=""
              /></span>
            </h2>
            <p>
              {{ "intouch2" | translate }}
            </p>
          </div>
          <div class="contact__form">
            <form action="assets/mail.php">
              <div class="row">
                <div class="col-xxl-6 col-xl-6 col-md-6">
                  <div class="contact__form-input">
                    <input
                      type="text"
                      [placeholder]="'your_name' | translate"
                      name="name"
                    />
                  </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-md-6">
                  <div class="contact__form-input">
                    <input
                      type="email"
                      [placeholder]="'your_email' | translate"
                      name="email"
                    />
                  </div>
                </div>
                <div class="col-xxl-12">
                  <div class="contact__form-input">
                    <input
                      type="text"
                      [placeholder]="'subject' | translate"
                      name="subject"
                    />
                  </div>
                </div>
                <div class="col-xxl-12">
                  <div class="contact__form-input">
                    <textarea
                      [placeholder]="'entermessage' | translate"
                      name="message"
                    ></textarea>
                  </div>
                </div>
                <div class="col-xxl-12">
                  <div class="contact__btn">
                    <button type="submit" class="e-btn">
                      {{ "send" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div
        class="col-xxl-4 offset-xxl-1 col-xl-4 offset-xl-1 col-lg-5 offset-lg-1"
      ></div>
    </div>
  </div>
</section>
